$dark-orange: #B14125;
$light-orange: #DF5227;
$border-orange: #F7941E;
$dark-gray: #3A3A3C;
$light-gray: #7B7C7E;
$very-light-gray: #f2f2f2;
$post-padding: 1.5rem;
$dialog-width: 40%;
$dialog-height: 30%;

@mixin respond-to($media) {
  @if $media == handheld {
    @media only screen and (max-device-width: 450px) and (orientation: portrait) { @content; }
  }
  @else if $media == tablet {
    @media only screen and (min-device-width: 451px) and (max-device-width: 1024px) { @content; }
  }
  @else if $media == large {
    @media only screen and (min-device-width: 1024px) { @content; }
  }
}

* {
	top: 0;
	left: 0;
	padding: 0;
	margin: 0;
	-webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Chrome/Safari/Opera */
    -khtml-user-select: none; /* Konqueror */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
    box-sizing: border-box;
}

html {
	background-image: url('./../assets/bg.jpg');
	color: black;
	height: 100%;
	font-family: "Helvetica";
	letter-spacing: -1px;
	@include respond-to(handheld) {
		font-size: 45px;
		letter-spacing: -3px;
	}
	@include respond-to(tablet) {
		font-size: 25px;
	}
	@include respond-to(large) {
		font-size: 18px;
	}
}

body {
	display: flex;
	flex-flow: column wrap;
	width: 100%;
	height: 100%;
}

header {
	width: 100%;
	background-color: white !important;
	display: flex;
	position: relative;
	height: 3rem;
	flex-flow: row wrap;
	justify-content: center;
	background: url('./../assets/header_bg.svg') no-repeat center;
	@include respond-to(handheld) { 
		justify-content: flex-start;
		background: none;
	}
}

#logo {
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	background-image: url('./../assets/logo.svg');
	background-repeat: no-repeat;
	background-position: center;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0.15rem;
	@include respond-to(handheld) { 
		width: auto;
		top: 0;
		padding-left: 0.5rem;
      	padding-top: 0.2rem;
		content: url('./../assets/logo.svg');
		background: none;
	}
}

#more {
	position: absolute;
	float: right;
	background-color: transparent;
	color: $dark-orange;
	border: solid 1px orange;
	text-align: center;
	cursor: pointer;
	width: 1.5rem;
	height: 1.5rem;
	top: 0.8rem;
	left: calc(100% - 2.5rem);
	font-size: 1.3rem;
	line-height: 1.3rem;
	@include respond-to(handheld) {
		width: 1.5rem;
		height: 1.5rem;
		top: 0.78rem;
		left: calc(100% - 2.2rem);
		font-size: 1.5rem;
		line-height: 1.2rem;
	}
}

#more:hover, #more:active {
	background-color: $light-orange;
	color: white;
	border-color: $light-orange;
}

#menu {
	background-color: $dark-gray;
	color: $light-gray;
	width: 100%;
	height: 2rem;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
	line-height: 1.2rem;
	font-size: 1rem;
}

.menu-item, .sep {
	height: 100%;
	text-align: center;
	margin-left: 1rem;
	@include respond-to(handheld) {
		margin-left: 0;
	}
}

.menu-item {
	border-style: none;
	line-height: 200%;
	cursor: pointer;
	@include respond-to(handheld) {
		flex: 1 0 33%;
		border-left: solid 2px $light-gray;
	}
}

#random {
	@include respond-to(handheld) {
		border: solid 0px black;
	}
}

.menu-item:hover {
	color: $light-orange;
}

.sep {
	line-height: 180%;
	cursor: default;
	@include respond-to(handheld) {
		display: none;
	}
}

#dialog {
	position: fixed;
	z-index: 999;
	height: $dialog-height;
	width: $dialog-width;
	top: 50% - $dialog-height / 2;
	left: 50% - $dialog-width / 2;
	background-color: white;
	box-shadow: 0 0 1rem 0.2rem rgba(0, 0, 0, 33);
	padding: 2rem;
	display: none;
	#close-dialog {
		width: 100%;
		text-align: right;
		display: none;
		#close-dialog-btn {
			background-color: white;
			cursor: pointer;
		}
	}
	#dialog-content {
		height: 80%;
		overflow: auto;
		padding-bottom: 2rem;
		display: block;

	}
	@include respond-to(handheld) {
		height: 50%;
		width: 80%;
		top: 50% - 25%;
		left: 50% - 40%;
	}
	@include respond-to(tablet) {
		height: 50%;
		width: 60%;
		top: 50% - 25%;
		left: 50% - 30%;
	}
}

#content {
	width: 100%;
	flex: 1;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	@include respond-to(handheld) {
		padding-top: 0.55rem;
	}
	@include respond-to(tablet) {
		padding-top: 1.2rem;
	}
	@include respond-to(large) {
		padding-top: 1.5rem;
	}
}

.post {
	background-color: white;
	display: inline-block;
	position: relative;
	overflow: auto;
	border: solid 5px white;
	margin: 0.7rem;
	@include respond-to(handheld) {
		width: calc(100% - 1rem);
		margin: 0;
		margin-bottom: 0.6rem;
	}
	@include respond-to(tablet) {
		width: 43%;
	}
	@include respond-to(large) {
		width: 33%;
	}
}

.post:hover {
	border: solid 5px $border-orange;
}

.aspect {
	margin-bottom: 120%;
	@include respond-to(handheld) {
		margin-bottom: 0;
	}
}

.post-content {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	padding: $post-padding;
	@include respond-to(handheld) {
		position: relative;
	}
}

.post-image-link {
	display: inline-block;
	height: calc(50%);
	width: 100%;
	background-color: $very-light-gray;
	background-size: cover;
	background-position: 0 0;
	@include respond-to(handheld) {
		position: relative;
	}
}

.post-image-aspect {
	@include respond-to(handheld) {
		margin-bottom: 120%;
	}
}

.post-image {
	background-size: cover;
	background-position: 0 0;
	height: 100%;
	width: 100%;
	@include respond-to(handheld) {
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
	}
}

.post-title {
	display: inline-block;
	text-wrap: unrestricted;
	width: 100%;
	font-size: 1.3rem;
	cursor: pointer;
	margin-top: 1rem;
	color: inherit;
	text-decoration: none;
	@include respond-to(tablet) {
		font-size: 1.2rem;
	}
}
.post-stats {
	font-size: 0.8rem;
	color: $light-gray;
	cursor: pointer;
	text-decoration: none;
}
.post-snippet {
	padding-bottom: 1.5rem;
}

#footer-space {
	width: 100%;
	height: 4rem;
	@include respond-to(handheld) {
		height: 0.2rem;
	}
	@include respond-to(tablet) {
		height: 1.2rem;
	}
}

footer {
	width: 100%;
	height: 2.5rem;
	background-color: $dark-gray;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	position: fixed;
	top: calc(100% - 2.5rem);
	z-index: 50;
	@include respond-to(handheld) {
		display: none;
	}
	@include respond-to(tablet) {
		display: none;
	}
	& * {
		height: 100%;
		width: 1.5rem;
		margin-left: 0.5rem;
		margin-right: 0.5rem;
		z-index: 100;
		cursor: pointer;
	}
}
#facebook {
	background: url('./../assets/facebook_grey.svg') no-repeat center;
}
#facebook:hover {
	background: url('./../assets/facebook_blue.svg') no-repeat center;
}
#instagram {
	background: url('./../assets/instagram_grey.svg') no-repeat center;
}
#instagram:hover {
	background: url('./../assets/instagram_orange.svg') no-repeat center;
}