$dark-orange: #B14125;
$light-orange: #DF5227;
$border-orange: #F7941E;
$dark-gray: #3A3A3C;
$light-gray: #7B7C7E;
$very-light-gray: #f2f2f2;
$post-padding: 1.5rem;
$dialog-width: 40%;
$dialog-height: 30%;