* {
  top: 0;
  left: 0;
  padding: 0;
  margin: 0;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Chrome/Safari/Opera */
  -khtml-user-select: none;
  /* Konqueror */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  box-sizing: border-box; }

html {
  background-image: url("./../assets/bg.jpg");
  color: black;
  height: 100%;
  font-family: "Helvetica";
  letter-spacing: -1px; }
  @media only screen and (max-device-width: 450px) and (orientation: portrait) {
    html {
      font-size: 45px;
      letter-spacing: -3px; } }
  @media only screen and (min-device-width: 451px) and (max-device-width: 1024px) {
    html {
      font-size: 25px; } }
  @media only screen and (min-device-width: 1024px) {
    html {
      font-size: 18px; } }

body {
  display: flex;
  flex-flow: column wrap;
  width: 100%;
  height: 100%; }

header {
  width: 100%;
  background-color: white !important;
  display: flex;
  position: relative;
  height: 3rem;
  flex-flow: row wrap;
  justify-content: center;
  background: url("./../assets/header_bg.svg") no-repeat center; }
  @media only screen and (max-device-width: 450px) and (orientation: portrait) {
    header {
      justify-content: flex-start;
      background: none; } }

#logo {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("./../assets/logo.svg");
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0.15rem; }
  @media only screen and (max-device-width: 450px) and (orientation: portrait) {
    #logo {
      width: auto;
      top: 0;
      padding-left: 0.5rem;
      padding-top: 0.2rem;
      content: url("./../assets/logo.svg");
      background: none; } }

#more {
  position: absolute;
  float: right;
  background-color: transparent;
  color: #B14125;
  border: solid 1px orange;
  text-align: center;
  cursor: pointer;
  width: 1.5rem;
  height: 1.5rem;
  top: 0.8rem;
  left: calc(100% - 2.5rem);
  font-size: 1.3rem;
  line-height: 1.3rem; }
  @media only screen and (max-device-width: 450px) and (orientation: portrait) {
    #more {
      width: 1.5rem;
      height: 1.5rem;
      top: 0.78rem;
      left: calc(100% - 2.2rem);
      font-size: 1.5rem;
      line-height: 1.2rem; } }

#more:hover, #more:active {
  background-color: #DF5227;
  color: white;
  border-color: #DF5227; }

#menu {
  background-color: #3A3A3C;
  color: #7B7C7E;
  width: 100%;
  height: 2rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  line-height: 1.2rem;
  font-size: 1rem; }

.menu-item, .sep {
  height: 100%;
  text-align: center;
  margin-left: 1rem; }
  @media only screen and (max-device-width: 450px) and (orientation: portrait) {
    .menu-item, .sep {
      margin-left: 0; } }

.menu-item {
  border-style: none;
  line-height: 200%;
  cursor: pointer; }
  @media only screen and (max-device-width: 450px) and (orientation: portrait) {
    .menu-item {
      flex: 1 0 33%;
      border-left: solid 2px #7B7C7E; } }

@media only screen and (max-device-width: 450px) and (orientation: portrait) {
  #random {
    border: solid 0px black; } }

.menu-item:hover {
  color: #DF5227; }

.sep {
  line-height: 180%;
  cursor: default; }
  @media only screen and (max-device-width: 450px) and (orientation: portrait) {
    .sep {
      display: none; } }

#dialog {
  position: fixed;
  z-index: 999;
  height: 20%;
  width: 40%;
  top: 40%;
  left: 30%;
  background-color: white;
  box-shadow: 0 0 1rem 0.2rem black;
  padding: 2rem;
  display: none; }
  #dialog #close-dialog {
    width: 100%;
    text-align: right; }
    #dialog #close-dialog #close-dialog-btn {
      background-color: white;
      cursor: pointer; }
  #dialog #dialog-content {
    height: 100%;
    overflow: auto;
    padding-bottom: 2rem; }
  @media only screen and (max-device-width: 450px) and (orientation: portrait) {
    #dialog {
      height: 50%;
      width: 80%;
      top: 25%;
      left: 10%; } }
  @media only screen and (min-device-width: 451px) and (max-device-width: 1024px) {
    #dialog {
      height: 50%;
      width: 60%;
      top: 25%;
      left: 20%; } }

#content {
  width: 100%;
  flex: 1;
  display: flex;
  flex-flow: row wrap;
  justify-content: center; }
  @media only screen and (max-device-width: 450px) and (orientation: portrait) {
    #content {
      padding-top: 0.55rem; } }
  @media only screen and (min-device-width: 451px) and (max-device-width: 1024px) {
    #content {
      padding-top: 1.2rem; } }
  @media only screen and (min-device-width: 1024px) {
    #content {
      padding-top: 1.5rem; } }

.post {
  background-color: white;
  display: inline-block;
  position: relative;
  overflow: auto;
  border: solid 5px white;
  margin: 0.7rem; }
  @media only screen and (max-device-width: 450px) and (orientation: portrait) {
    .post {
      width: calc(100% - 1rem);
      margin: 0;
      margin-bottom: 0.6rem; } }
  @media only screen and (min-device-width: 451px) and (max-device-width: 1024px) {
    .post {
      width: 43%; } }
  @media only screen and (min-device-width: 1024px) {
    .post {
      width: 33%; } }

.post:hover {
  border: solid 5px #F7941E; }

.aspect {
  margin-bottom: 120%; }
  @media only screen and (max-device-width: 450px) and (orientation: portrait) {
    .aspect {
      margin-bottom: 0; } }

.post-content {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 1.5rem; }
  @media only screen and (max-device-width: 450px) and (orientation: portrait) {
    .post-content {
      position: relative; } }

.post-image-link {
  display: inline-block;
  height: calc(50%);
  width: 100%;
  background-color: #f2f2f2;
  background-size: cover;
  background-position: 0 0; }
  @media only screen and (max-device-width: 450px) and (orientation: portrait) {
    .post-image-link {
      position: relative; } }

@media only screen and (max-device-width: 450px) and (orientation: portrait) {
  .post-image-aspect {
    margin-bottom: 120%; } }

.post-image {
  background-size: cover;
  background-position: 0 0;
  height: 100%;
  width: 100%; }
  @media only screen and (max-device-width: 450px) and (orientation: portrait) {
    .post-image {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%; } }

.post-title {
  display: inline-block;
  text-wrap: unrestricted;
  width: 100%;
  font-size: 1.3rem;
  cursor: pointer;
  margin-top: 1rem;
  color: inherit;
  text-decoration: none; }
  @media only screen and (min-device-width: 451px) and (max-device-width: 1024px) {
    .post-title {
      font-size: 1.2rem; } }

.post-stats {
  font-size: 0.8rem;
  color: #7B7C7E;
  cursor: pointer;
  text-decoration: none; }

.post-snippet {
  padding-bottom: 1.5rem; }

#footer-space {
  width: 100%;
  height: 4rem; }
  @media only screen and (max-device-width: 450px) and (orientation: portrait) {
    #footer-space {
      height: 0.2rem; } }
  @media only screen and (min-device-width: 451px) and (max-device-width: 1024px) {
    #footer-space {
      height: 1.2rem; } }

footer {
  width: 100%;
  height: 2.5rem;
  background-color: #3A3A3C;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  position: fixed;
  top: calc(100% - 2.5rem);
  z-index: 50; }
  @media only screen and (max-device-width: 450px) and (orientation: portrait) {
    footer {
      display: none; } }
  @media only screen and (min-device-width: 451px) and (max-device-width: 1024px) {
    footer {
      display: none; } }
  footer * {
    height: 100%;
    width: 1.5rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    z-index: 100;
    cursor: pointer; }

#facebook {
  background: url("./../assets/facebook_grey.svg") no-repeat center; }

#facebook:hover {
  background: url("./../assets/facebook_blue.svg") no-repeat center; }

#instagram {
  background: url("./../assets/instagram_grey.svg") no-repeat center; }

#instagram:hover {
  background: url("./../assets/instagram_orange.svg") no-repeat center; }
